.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #443C68;
    color: white;
    padding: 0.75rem 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 22px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #262A56;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.3rem;
  }
  
  .badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #92320c;
  }